
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>考试系统</title>

    <!-- 引用文件 -->
    <script src="~/Script/jquery-3.4.1.js"></script>
    <script src="~/Script/vue.js"></script>

    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

        /* ******************************* */
        /* -- 总元素位置控制框div(#Max) -- */
        #Max {
            width: 1920px;
            border: 0px solid transparent;
        }
    </style>


</head>
<body>
    <!-- 总元素位置控制框div(#Max) -->
    <div id="Max">


    </div>


</body>
</html>
